/sudoku1pp_pdf
/sudoku1pp_xml
/sudoku1pp_pdf_tmp
/sudoku1pp_xml_tmp
/hexsudoku_hex_pdf
/hexsudoku_hex_xml
/bridges_pdf
/bridges_xml
/samuraisudoku_pdf
/samuraisudoku_xml
/sandwichsudoku_blt_pdf
/sandwichsudoku_blt_xml
/sandwichsudoku_reg_pdf
/sandwichsudoku_reg_xml
/skyscrapers_pdf
/skyscrapers_xml
/slitherlink_grid_pdf
/slitherlink_grid_xml
